.filters {
  display: flex;
  flex-direction: column;
  width: auto;
  height: min-content;
  background-color: white;
  border-radius: 10px;
  padding: 20px 40px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #e0e0e0;
}

.filters > * {
  margin-bottom: 20px;
}

.filters > *:last-child {
  margin-bottom: 0;
}
